# Frontend
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local

# Backend (Go)
backend/*.exe
backend/tmp/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
.idea
